body{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgb(0, 127, 212), rgb(0, 0, 0, 0.75));
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

header{
    background-color: rgba(0, 0, 0, 0.315);
}

p{
    scroll-padding-top: 70px;
}

form{
    scroll-padding-top: 70px;
}

