header{
    position:sticky;
    background-color: rgb(255, 255, 255);
    top: 0;
}

.container {
    width: auto;
    padding: auto;
    display: flex;
    padding-right: 33%;
}

.item-2 {
    margin-left: 33%;
    margin-right: 33%;
}

.réseaux{
    margin-right: 10px;
}
#bannière{
    max-width: 150%;
}