header{
    position:sticky;
    background-position:center;
    width: auto;
    border: none;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

#autres{
    background-color: darkgray;
}

.container {
    width: 100%;
    display: flex;
}
.container-footer {
    width: auto;
    padding: auto;
    display: flex;
    text-align: center;
}

.item-1 {
    margin-left: 0px;
}

.item-2 {
    margin-left: 15%;
    margin-right: auto;
}

#membres{
    margin-right: 15%;
}

.item-3 {
    margin-right: 0px;
}

.réseaux{
    margin-right: 10px;
}
#bannière{
    max-width: 150%;
}

footer{
    margin-top: 200px;
}