<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin</title>
        <link rel="stylesheet" href="../CSS/admin.css">
        <link rel="icon" type="image/png" href="../Cloudfree.png">
    </head>
    <body>
        <p>test</p>
        <footer id="bas">
            <h1 id="titre">Nous contacter</h1>
            <section id="left">
                <a href="https://www.instagram.com/nyc.cloudfree/">Instagram</a>
            </section>
        </footer>
    </body>
</html>