<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jeu Vidéo 1</title>
        <link rel="stylesheet" href="../CSS/titre.css">
        <link rel="stylesheet" href="../CSS/navbar.css">
        <link rel="stylesheet" href="../CSS/fond.css">
        <link rel="stylesheet" href="../CSS/footer.css">
        <link rel="icon" type="image/png" href="../Cloudfree.png">
    </head>
    <body>
        <div class="selector">
            <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                <option value="">-- Choix de page --</option>
                <option value="/Templates/accueil.html"  class="link">ACCUEIL</option>
                <option value="/Templates/application.html" class="link">APPLICATION</option>
                <option value="/Templates/civisme.html" class="link">CIVISME</option>
                <option value="/Templates/communication.html" class="link">COMMUNICATION</option>
                <option value="/Templates/évènementiel.html" class="link">ÉVÈNEMENTIEL</option>
                <option value="/Templates/JV1.html" class="link">JEU VIDÉO 1</option>
                <option value="/Templates/JV2.html" class="link">JEU VIDÉO 2</option>
                <option value="/Templates/lab.html" class="link">LAB</option>
                <option value="/Templates/media-magazine.html" class="link">MÉDIA-MAGASINE</option>
                <option value="/Templates/web.html" class="link">SIT WEB</option>
                <option value="/Templates/start-up.html" class="link">START-UP</option>
                <option value="/Templates/vêtement.html" class="link">VÊTEMENT</option>
                <option value="/Templates/vidéos.html" class="link">VIDÉOS</option>
           </select> 
        </div>
        <h1>Jeu Vidéo 1</h1>
        <footer id="footer">
            <div class="container">
                <div class="item">
                    <b id="contact">Nos réseaux</b>
                    <br>
                    <br>
                    <a class="item" src="" href="https://www.instagram.com/nyc.cloudfree/">
                        <img src="../Instagram.png">
                    </a>
                    <a class="item" src="" href="https://twitter.com/NYC_Cloudfree">
                        <img src="../Twitter.png">
                    </a>
                </div>
                <div class="item">
                    <b>Développeurs</b>
                    <p>Documentation</p>
                    <p>Participant au projet</p>
                </div>
                <div class="item">NYC.Cloufree@gmail.com</div>
              </div>
        </footer>
    </body>
</html>