<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jeu Vidéo 2</title>
        <link rel="stylesheet" href="../CSS/titre.css">
        <link rel="stylesheet" href="../CSS/navbar.css">
        <link rel="stylesheet" href="../CSS/fond.css">
        <link rel="stylesheet" href="../CSS/header-footer.css">
        <link rel="stylesheet" href="../CSS/projet.css">
        <link rel="icon" type="image/png" href="../Images/Cloudfree.png">
    </head>
    <body>
        <div class="selector">
            <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                <option value="">-- Choix de page --</option>
                <option value="/Templates/accueil.html"  class="link">ACCUEIL</option>
                <option value="/Templates/application.html" class="link">APPLICATION</option>
                <option value="/Templates/civisme.html" class="link">CIVISME</option>
                <option value="/Templates/communication.html" class="link">COMMUNICATION</option>
                <option value="/Templates/évènementiel.html" class="link">ÉVÈNEMENTIEL</option>
                <option value="/Templates/JV1.html" class="link">JEU VIDÉO 1</option>
                <option value="/Templates/lab.html" class="link">LAB</option>
                <option value="/Templates/media-magazine.html" class="link">MÉDIA-MAGASINE</option>
                <option value="/Templates/start-up.html" class="link">START-UP</option>
                <option value="/Templates/vêtement.html" class="link">VÊTEMENT</option>
                <option value="/Templates/vidéos.html" class="link">VIDÉOS</option>
                <option value="/Templates/web.html" class="link">WEB</option>
           </select> 
        </div>
        <h1>Jeu Vidéo 2</h1>
        <h3>projet</h3>
        <div class="projet">
            <p>Voici un paragraphe très intéressant inscrit dans une boîte
            avec une ombre.</p>
          </div>
          <div class="projet">
            <p>Voici un paragraphe très intéressant inscrit dans une boîte
            avec une ombre.</p>
          </div>
          <div class="projet">
            <p>Voici un paragraphe très intéressant inscrit dans une boîte
            avec une ombre.</p>
         </div>

         <div class="picture">
            <img id="photo" src="../Images/jeux-video2.jpg">
          </div>
        <footer id="footer">
            <div class="container-footer">
                <div class="item-1">
                    <b id="contact">Nos réseaux</b>
                    <br>
                    <br>
                    <a class="item" src="" href="https://www.instagram.com/nyc.cloudfree/">
                        <img src="../Images/Instagram.png">
                    </a>
                    <a class="item" src="" href="https://twitter.com/NYC_Cloudfree">
                        <img src="../Images/Twitter.png">
                    </a>
                </div>
                <div class="item-2">
                    <b>Documentation</b>
                </div>
                <div id="membres">
                    <b>Membre du groupe</b>
                    <p>FACONNIER Pierre - DUBOIS Limane</p>
                    <p>DAGNAS Florian - LATTE Flavian</p>
                    <p>CAROLE Mawen - LHOPITALIER Matthieu</p>
                    <p>DUVERGER Enzo - LAFORGE Samuel</p>
                </div>
                <div class="item-3">NYC.Cloufree@gmail.com</div>
              </div>
        </footer>
    </body>
</html>