<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vidéos</title>
        <link rel="stylesheet" href="../CSS/titre.css">
        <link rel="stylesheet" href="../CSS/navbar.css">
        <link rel="icon" type="image/png" href="../Cloudfree.png">
    </head>
    <body>
        <h1>Vidéos</h1>
        <nav class="tabs">
            <div class="selector"></div>
            <a href="/Templates/accueil.html"  class="link">Accueil</a>
            <a href="/Templates/application.html" class="link">APPLICATION</a>
            <a href="/Templates/civisme.html" class="link">CIVISME</a>
            <a href="/Templates/communication.html" class="link">COMMUNICATION</a>
            <a href="/Templates/évènementiel.html" class="link">ÉVÈNEMENTIEL</a>
            <a href="/Templates/JV1.html" class="link">JEU VIDÉO 1</a>
            <a href="/Templates/JV2.html" class="link">JEU VIDÉO 2</a>
            <a href="/Templates/lab.html" class="link">LAB</a>
            <a href="/Templates/media-magazine.html" class="link">MÉDIA-MAG</a>
            <a href="/Templates/web.html" class="link">SIT WEB</a>
            <a href="/Templates/start-up.html" class="link">START-UP</a>
            <a href="/Templates/vêtement.html" class="link">VÊTEMENT</a>
            <a href="#" class="link active">VIDÉOS</a>
        </nav>
    </body>
</html>